/* --- UNIVERSAL --- */
:root {
    --primary: #030D20;
    --secondary: #111827;
    --tertiary: #1F2937;
    --accent: #00B7D3;
    --light-text: #F9FAFB;
    --btn-default: #19D8F5;
    --btn-hover: #02A7C0;
    --btn-active: #038A9E;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--primary);
    color: var(--light-text);
}

main {
    max-width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
}

h1 {
    color: var(--accent);
    margin: 5px 0;
}

h2 {
    margin: 5px 0;
}

h4, h3 {
    color: var(--accent);
    margin: 0;
}

h5 {
    margin-bottom: 12px;
}

label {
    margin-top: 0.8rem;
}

.card {
    background-color: var(--tertiary);
    border-radius:15px;
    padding: 1.5rem;
    margin: 1.5rem;
}

.btn-row {
    display: flex;
}

button {
    margin-top: 1rem;
    margin-left: auto;
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: var(--btn-default);
    color: var(--primary);
    border: none;
}

button:hover {
    background-color: var(--btn-hover);
    color: var(--primary);
}

button:active {
    background-color: var(--btn-active);
    color: var(--primary);
    font-weight: bold;
}

/* --- SUMMARY --- */
.summary_middle-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.summary_middle-container > div {
    flex: 1;
}

.summary_inner-container {
    background-color: var(--light-text);
    padding: 1rem;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
    font-weight: bold;
}

.summary_inner-container > p {
    margin: 0.25rem;
}

/* --- EDIT USERS --- */
.edit-user_middle-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.edit-user_inner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.edit-user_inner-container > input {
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

/* --- ADD EXPENSE --- */
.add-expense_middle-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.add-expense_inner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.add-expense_inner-container > input {
    border: none;
    border-radius: 5px;
    padding: 1rem;
}

.add-expense_inner-container > select {
    border: none;
    border-radius: 5px;
    padding: 0.94rem
}

/* --- CURRENCY CONVERTER --- */
.currency-converter_middle-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%
}

.currency-converter_inner-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    gap: 0.5rem
}

.control-row {
    display: flex;
    width: 100%;
}

#convert-from-input,
#convert-to-output {
    flex: 2;
    border: none;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
    min-width: 0;
}

.currency-converter_inner-container select {
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0.94rem;
    border-left: 1px solid var(--primary);
}

#convert-to-output {
    display: flex;
    align-items: center;
    background-color: var(--light-text);
    color: var(--primary)
}

/* --- HISTORY --- */
ul {
  padding-left: 10px;
  font-size: medium;
}

li {
    margin-bottom: 1rem;
}